!DejaVuSans.ufm.php
!DejaVuSans-Bold.ufm.php
!DejaVuSansMono.ufm.php
!dompdf_font_family_cache.php
!Helvetica-Bold.afm.php
!Helvetica.afm.php
!Hind-Regular.ttf
!Hind-Regular.ufm
!Hind-Regular.ufm.php
!ipag.ttf
!ipag.ufm
!ipag.ufm.php
!NotoSans-Regular.ttf
!NotoSans-Regular.ufm
!NotoSans-Regular.ufm.php
!simhei.ttf
!TH_Sarabun.ttf
!TH_SarabunBold.ttf
!TH_SarabunBoldItalic.ttf
!TH_SarabunItalic.ttf
!Times-Bold.afm.php
!Times-Roman.afm.php
*.php
*.ttf
*.ufm
